/* TabMenu.css */
.tabContainer {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif; */

  list-style: none;
  display: flex;
  border-bottom: 1px solid #ccc;
  flex-direction: column;
}

.tabButtons {
  display: flex;
}

.tabButtons button {
  /* padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
  background-color: #f1f1f1;
  border-radius: 5px;
  transition: background-color 0.3s ease; */

  /* flex-basis: 10%; */
  margin: 0px 0em;
  padding: 1em;
  cursor: pointer;
  transform: translateY(1px);
  border-radius: 5px 5px 0px 0px;
  transition: background-color 0.2s ease-in-out;
  border: 1px solid transparent;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  background-color: #ffffff;
  color: black;
  list-style: none;
  display: flex;
  border-bottom: 1px solid #ccc;
}

.tabButtons button.active {
  /* background-color: #007bff;
  color: white; */
  /* background-color: #27ee42; */
  border-radius: 5px 5px 0px 0px;
  border-width: 1px;
  border-color: #ccc #ccc #fff #ccc;
  border-style: solid;
  color: #bb3357;
}

.tabContent {
  /* margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  width: 100%;
  max-width: 600px;
  text-align: center; */

  padding: 1em 2em;
  color: #525151;
  font-family: "Economica", sans-serif;
  font-size: 20px;
}
