.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* ตั้งให้เต็มหน้าจอ */
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1); /* สีพื้นหลังของวงแหวน */
  border-top: 8px solid #3498db; /* สีของส่วนที่หมุน */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite; /* การหมุนที่ไม่มีที่สิ้นสุด */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
